body {
  background: linear-gradient(to right, skyblue, white, violet);
  
  .center{
    text-align: center;
  }

  section {
    margin-bottom: 30px;
  }

}

header > img {
  border-radius: 50%;

  &:hover{
    border: 3px solid blue;
  }
}

